
.header,.footer{
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
     
}
.header{
    padding-top: 50px;
}
.headerimg{
   padding: 40px;
   padding-top: 50px;
}
.image{
   
    margin-bottom: 30px;
}

.box{
    box-shadow: 3px 3px 10px grey;
    padding: 30px;
    border-radius: 10px;
    text-decoration: center;
    box-sizing: border-box;
    background-color: white;
    
    color: #13547a;
}

.icon{
    margin-left: 15px;
    margin-bottom: 5px;
}
.sicons{
    color: white;
    margin-left: 8px;
}

.section,.Reference{
    padding: 40px;
    color: white;
    
   
}
.active1{
    color: lightseagreen !important;
}
h3{
    color: black;
}
.h31{
    color: white;
}
.inth6{
    color: #13547a;
    
}
.Ed,.ls,.ere{
    color: #80d0c7;
}
.Interest{
    padding-top: 30px;
   
}
.bgclr{
    background-color: rgba(231, 231, 231, 0.56);
}
.card3{
    padding: 30px 18px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px grey;

}
.underline{
    border: 2px solid orange;
    margin-bottom: 40px;
    width: 100px;
    margin-top: 30px;
    border-radius: 5px;
}
.underline1{
    border: 1px solid orange;
    margin-bottom: 20px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
}
.progress1{
    height: 25px;
    margin-bottom: 30px;
    background-color: lightgray;
}
.progressbar1{
    background-image: linear-gradient(90deg,rgb(252, 148, 29)0%,rgb(241, 182, 143)100%);
}

.footer{
    padding: 40px;
    color: white;

}
.front{
  background-image: url(images/biography-bg.png);
  padding: 80px;
  padding-top: 80px;
}
.portfolio{
    padding: 45px;
    padding-top: 50px;
}
.portfolio p,.sider p{
    color: rgb(77, 73, 73);
    font-family: Arial;
}
.portfoliobtn{
    padding: 8px 15px;
    border: 2px solid #2e968a ;
    background-color: none;
    border-radius: 9px;
    color: #36a195 ;
    font-size: 18px;
    text-transform: uppercase;

    
}
.portfoliobtn:hover{
    color: white;
    background: #36a195;
    text-decoration: none;
    
    
}
.portimg{
    border-radius: 20px;
    padding: 30px;
}
.portimg img{
    border-radius: 20px;
    height: 300px;
    
}

.sider h2{
    margin-bottom: 25px;
}
.sider p{
    margin-bottom: 30px;
}
.name{
    color:#13547a ;
}
.home h5{
    color: rgb(90, 85, 85);
}
.nameclr{
    color: rgb(87, 194, 87);
}

.btn{
    padding: 7px 18px;
    border: none;
    color: white;
    background-image: linear-gradient(90deg,#13547a 0%, #80d0c7 100%);
    margin-top: 10px;
    box-shadow: 2px 2px 8px grey;
    margin-bottom: 20px;
    
}
.I{
    color: rgb(245, 119, 46);
    font-size: 40px;
    text-transform: lowercase;
}
.M,.P{
    color: rgb(49, 188, 223);
    font-size: 38px;
}
.s{
    color:rgb(49, 188, 223) ;
    font-size: 23px;
}
.des{
    color: orange;
    font-size: 35px;
}
.photocard{
    border: none;
}
.photographyimg{
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 10px grey;
    margin-bottom: 20px;
}
.contact{
    background-color: #80808026;
    padding: 70px;
    padding-bottom: 20px;
    color: rgb(18, 182, 182);
}
.contactbox{
   box-shadow: 3px 3px 10px gray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: white;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.icon2{
    background-color: #309e91;
    color: white;
}

.handshake{
    padding: 25x;
    padding-bottom: 50px;
}

.input{
    margin-bottom: 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid orange;
}
.inputtxt{
    border: 1px solid #80d0c7;
}
.contactbtn:hover{
    color: white;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    text-decoration: none;
}
.contactbtn{
    padding: 8px 128px;
    background-image: linear-gradient(90deg,rgb(252, 148, 29)0%,rgb(241, 182, 143)100%);
    color: white;
    font-size: 20px;
    border-radius: 8px;
   
    
}
.contactbutn{
   padding-top: 30px;
   padding-bottom: 30px;
}