

.section{
    padding: 80px;
    margin-top: 50px;
   
}
.bgclr{
    background-color: rgba(231, 231, 231, 0.56);
}
.card3{
    padding: 20px 30px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px grey;
}
.underline{
    border: 2px solid orange;
    margin-bottom: 40px;
    width: 100px;
    margin-top: 30px;
    border-radius: 5px;
}
.underline1{
    border: 1px solid orange;
    margin-bottom: 20px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
}